@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html {
  overflow: hidden;
  scrollbar-width: none;
}
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

:root{
	--button:#ecf0f1;
	--notify:#2A3950;
	--icon:#ff3f34;
	--light-grey:#ecf0f1;
	--dark-grey:#34495e;
	--blue:#12CBC4;
	--dark-blue:#1289A7;
	--red:#ED4C67;
}

body{
	background-color:var(--background);
	font-family:Montserrat;
	animation-delay:1s;
}

.ach{
	width:360px;
	height:70px;
	display:block;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%);
	background-color:var(--notify);
	border-radius:6px;
	position:absolute;
	bottom:0px;
	left:28px;
    filter: drop-shadow(7px 7px 10px RGBA(0,0,0,.4));
	padding:8px 13px;
}

.ach{
	opacity:1;
	animation:base-animation 3s ease alternate infinite;
}


.ach .icon {
	background-color:var(--button);
	height:65px;
	width:65px;
	position:absolute;
	right:13px;
	top:-15px;
	display:flex;
	justify-content: center;
	align-items: center;
	border-radius:10px;
    filter: drop-shadow(3px 3px 3px RGBA(0,0,0,.2));
	color:white;
	font-family: "Font Awesome 5 Free";
	content: "\f095";
	font-size:30px;
	color:white;
}

.ach .icon{
	animation-delay:1s;
	animation:combinedButtonIconAnimation 3s ease alternate infinite;
}
.ach .icon img {
	height:60px;
	width:60px;
	border-radius:10px;
	animation-delay:1s;
	animation:icon-animation 3s ease alternate infinite;
}

.ach .text_wrap{
	animation-delay:1s;
	animation:text-animation 3s ease alternate infinite;
}

.title{
	color:white;
	font-weight:600;
	font-size:20px;
	display:block;
}

.detail{
	color:#ddd;
	font-size:15px;
	max-width:80%;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 0;
}

@keyframes base-animation{
	0%{
		width:90px;
		height:0;
	}
	
	22%{
		height:83px;
	}
	
	25%{
		width:90px;
		height:76px;
	}
	
	32%{
		height:70px;
	}
	
	50%{
		width:360px;
	}
}

@keyframes button-animation{
	0%{
		height:0px;
		width:0px;
	}
	
	17%{
		height:75px;
		width:75px;
		right:8px;
	}
	
	22%{
		height:65px;
		width:65px;
		right:13px;
	}
	100%{
		
	}
}

@keyframes text-animation{
	0%{
		opacity:0;
	}
	
	30%{
		opacity:0;
	}
	
	45%{
		opacity:0;
	}
	50%{
		opacity:1;
	}
}

@keyframes icon-animation{
	0%{
		transform:rotate(-680deg);
		opacity:0;
	}
	1%{
		transform:rotate(-380deg);
		opacity:0;
	}
	27%{
		transform:rotate(0deg);
		opacity:1;
	}
}
@keyframes combinedButtonIconAnimation {
  0% {
    height: 0px;
    width: 0px;
    transform: rotate(-680deg);
    opacity: 0;
  }

  1% {
    transform: rotate(-380deg);
    opacity: 0;
  }

  17% {
    height: 75px;
    width: 75px;
    right: 8px;
  }

  22% {
    height: 65px;
    width: 65px;
    right: 13px;
  }

  27% {
    transform: rotate(0deg);
    opacity: 1;
  }

  100% {
    /* Final state can be customized if needed */
  }
}